:root{
    --mainText: #fff;
    --secondaryText: #eeeeee;

    --mainColor: #152028;
    --secondaryColor: #192734;

    --borderColor: #164d56;
    --themeDotBorder: #fff;

    --previewBg: rgba(25, 39, 52, 0.5);
    --previewShadow: #111921;

    --btnColor: #17a2b8;
}